

body{
    height: 100vh;
    background: #5b0326;
}
.main-container {
  border: 2px solid black;
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%,-50%);
}
.item-bar {
  width: 75%;
  height: 45px;
  color: #111111;
  font-weight: 500;
  position: relative;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

.btn{
  position: relative;
  font-weight: 500;
  font-size: 16px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  cursor: pointer;
  width: 20%;
  height: 45px;
  border-radius: 5px;
}